/*Тело сайта*/
/**/
body {
  max-width: 1366px; /*ширина страницы*/
  margin: 0px auto;
}
/*контейнер*/
.container {
  margin: 0px auto; /*центрирование контента*/
  font-family: Arial, Helvetica, sans-serif; /*шрифт сайта*/
}
/*Заголовки*/
h2 {
  font-family: 24px;
  color: #ffa300;
  text-align: center;
}

/*Шапка сайта начало*/
.header .logo img {
  display: block;
  margin: 10px auto;
}
.header .logo a {
  display: block;
  font-size: 26px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.header .nav ul li {
  display: inline-block;
  margin-right: 30px;
}
.header .nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.header .nav ul li a:hover {
  color: #ffa300;
  transition: all 0.5s;
}
/*Шапка сайта конец*/

/*Подвал*/
.footer {
  background: #ffa300;
  padding: 30px 50px;
}
.footer p {
  color: #fff;
  font-size: 16px;
}
.footer .copy {
  text-align: center;
}
.footer ul {
  display: inline-block;
  margin-inline-end: 50px;
}
.footer ul li {
  list-style-type: none;
}
.footer ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
/*Подвал*/

/*Контент*/
/*слайдер*/
.slider-adaptive {
  margin: 30px 50px;
}
.slider-adaptive input {
  display: none;
}
.slider-adaptive .slider {
  text-align: center;
}
.slider-adaptive .slider label {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background: #ffa300;
  cursor: pointer;
  display: inline-block;
}
.slider-adaptive .slider-content {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.slider-adaptive .slider-content .slider-next {
  display: flex;
  width: 100%;
  height: 200px;
  transition: all 1s;
}
.slider-adaptive .slider-content .slider-next .x {
  flex-shrink: 0;
  width: 100%;
  height: 200px;
}
.slider-adaptive .slider-content .slider-next .x .info {
  padding: 50px 0;
  text-align: center;
}
.slider-adaptive .slider-content .slider-next .x .info h4 {
  font-size: 24px;
  color: #ffa300;
}
.slider-adaptive .slider-content .slider-next .x .info p {
  font-size: 18px;
}
#slide1:checked ~ .slider label[for="slide1"] {
  background: #aa6c00;
}
#slide2:checked ~ .slider label[for="slide2"] {
  background: #aa6c00;
}
#slide3:checked ~ .slider label[for="slide3"] {
  background: #aa6c00;
}
#slid4:checked ~ .slider label[for="slide4"] {
  background: #aa6c00;
}
#slide5:checked ~ .slider label[for="slide5"] {
  background: #aa6c00;
}
#slide6:checked ~ .slider label[for="slide6"] {
  background: #aa6c00;
}

#slide2:checked ~ .slider-content .slider-next {
  transform: translateX(-100%);
}
#slide3:checked ~ .slider-content .slider-next {
  transform: translateX(-200%);
}
#slide4:checked ~ .slider-content .slider-next {
  transform: translateX(-300%);
}
#slide5:checked ~ .slider-content .slider-next {
  transform: translateX(-400%);
}
#slide6:checked ~ .slider-content .slider-next {
  transform: translateX(-500%);
}
/*слайдер*/

/*о компании*/
.about {
  margin: 20px 50px;
}
.about .info {
  text-align: center;
}
/*о компании*/

/*Поиск*/
.search {
  margin: 100px 50px;
}
.search form {
  width: 700px;
  display: inline-block;
  margin: 0px 35%;
}
.search form label {
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
}
.search input {
  width: 200px;
  height: 30px;
  padding: 0 10px;
}
.button {
  color: white;
  display: inline-block;
  background: #ffa300;
  padding: 14px 25px;
  border-radius: 20px;
  text-decoration: none;
}
.button:hover {
  transition: all 1s;
  background: #aa6c00;
}
.search .button {
  position: relative;
  left: -20%;
}
/*Поиск*/

/*Акции*/
.special {
  margin: 70px 50px;
}
.special p {
  display: inline-block;
  width: 50%;
  margin-left: 50px;
  position: relative;
  top: -50px;
}
.special .button {
  margin: 0px 40%;
  position: relative;
  top: -50px;
}
/*Акции*/

/*Подписка*/
.subscribe {
  margin: 50px 50px;
}
.subscribe form {
  width: 300px;
  margin: 0px 35%;
}
.subscribe form input {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 30px;
}
.subscribe .button {
  margin: 0 30%;
}
/*Подписка*/

/*результаты поиска*/
.search-results {
  margin-bottom: 100px;
}
.search-results .x {
  width: 300px;
  display: block;
  margin: 0px 70px;
}
.search .button {
  margin: 0 50%;
}
/*результаты поиска*/

/*Зоны*/
.seat1 {
  margin: 70px 50px;
}
.seat1 .map {
  display: block;
  margin: 0px auto;
}
.seat1 .x {
  margin: 30px 30px;
}
.seat1 .x p {
  width: 50%;
  margin-left: 350px;
  margin-top: -50px;
  position: relative;
  top: -140px;
}
.seat1 .button {
  display: block;
  width: 200px;
  margin: 0px auto;
}
/*Зоны*/

/*Бронирование*/
.booking {
  margin: 70px 100px;
}
.booking fieldset {
  margin-bottom: 10px;
}
.booking .last {
  margin-bottom: 20px;
}
.booking .email {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  margin: 10px 0;
}
.booking .button {
  margin: 0 100px;
}
.booking textarea {
  width: 300px;
  height: 90px;
  resize: none;
}
.booking ul li {
  margin-bottom: 5px;
}
/*Бронирование*/

/*Контент*/
